In [1]:
# Dependencies
import pandas as pd

In [2]:
data_list=['../H1B_Data/H-1B_Disclosure_RAW_Data_FY15.csv','../H1B_Data/H-1B_Disclosure_RAW_Data_FY16.csv','../H1B_Data/H-1B_Disclosure_RAW_Data_FY17.csv','../H1B_Data/H-1B_Disclosure_RAW_Data_FY18.csv']

In [3]:
def clean(data):
    df=pd.read_csv(data, encoding="ISO-8859-1")
    new_df=df[["CASE_NUMBER","CASE_STATUS", "DECISION_DATE", "EMPLOYER_NAME","EMPLOYER_CITY","EMPLOYER_STATE", "EMPLOYER_COUNTRY", "NAIC_CODE"]]
    us_df=new_df[new_df["EMPLOYER_COUNTRY"]=="UNITED STATES OF AMERICA"]
    return us_df

In [4]:
H1B_df_list=[]
for data in data_list:
    h1b_df=clean(data)
    H1B_df_list.append(h1b_df)
all_H1B_df=pd.concat([*H1B_df_list]) 
all_H1B_df['EMPLOYER_NAME']=all_H1B_df['EMPLOYER_NAME'].str.replace(',','') #get rid of comma for database
all_H1B_df.to_csv('../H1B_Data/Pre_Cleaned_H1B_Data.csv',index=False, header=True)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (14,15,16,24) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [5]:
H1B_no_missing=all_H1B_df.dropna(how='any') #get rid of missing data
employee_df=H1B_no_missing[["CASE_NUMBER","CASE_STATUS", "DECISION_DATE", "EMPLOYER_NAME","NAIC_CODE"]]
employer_df=H1B_no_missing[["EMPLOYER_NAME","EMPLOYER_CITY","EMPLOYER_STATE"]]

In [6]:
employer_df.drop_duplicates(subset="EMPLOYER_NAME",keep="first",inplace=True)
reset_employer_df=employer_df.reset_index(inplace=False, drop=True) #reset index and drop old index, old index has duplicate values due to concatdenation
new_reset_employer_df=reset_employer_df.reset_index(inplace=False, drop=False)# reset index again keep previous index to rename as EMP_ID

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:

new_employer_df=new_reset_employer_df.rename(columns={'index':'EMP_ID'})
new_employer_df.head(10)
new_employer_df.to_csv('../H1B_Data/employer.csv',index=False)

In [8]:
merge_df=pd.merge(employee_df,new_employer_df,on="EMPLOYER_NAME")

In [9]:
merge_df.head()

,CASE_NUMBER,CASE_STATUS,DECISION_DATE,EMPLOYER_NAME,NAIC_CODE,EMP_ID,EMPLOYER_CITY,EMPLOYER_STATE
0,I-200-09121-701936,WITHDRAWN,2/5/2015,MEDTRONIC INC.,334510,0,MINNEAPOLIS,MN
1,I-200-12076-544466,CERTIFIED-WITHDRAWN,5/18/2015,MEDTRONIC INC.,334510,0,MINNEAPOLIS,MN
2,I-200-12193-010328,CERTIFIED-WITHDRAWN,4/29/2015,MEDTRONIC INC.,334510,0,MINNEAPOLIS,MN
3,I-200-12208-410867,CERTIFIED-WITHDRAWN,4/9/2015,MEDTRONIC INC.,334510,0,MINNEAPOLIS,MN
4,I-200-12306-427411,CERTIFIED-WITHDRAWN,6/8/2015,MEDTRONIC INC.,334510,0,MINNEAPOLIS,MN

In [10]:
new_employee_df=merge_df[["CASE_NUMBER","CASE_STATUS", "DECISION_DATE", "EMP_ID","NAIC_CODE"]]
new_employee_df.head(10)
employee_no_missing_df=new_employee_df.dropna(how='any')
employee_no_missing_df['NAIC_CODE'].astype(int)
#employee_no_missing_df.to_csv('../H1B_Data/employee.csv',index=False)

In [12]:
nacis_df=pd.read_csv('../H1B_Data/NAICS_CODE.csv')

In [14]:
nac_employee_merge=pd.merge(employee_no_missing_df,nacis_df,left_on='NAIC_CODE',right_on='Codes')

In [15]:
nac_employee_merge.head()

,CASE_NUMBER,CASE_STATUS,DECISION_DATE,EMP_ID,NAIC_CODE,Codes,Titles
0,I-200-09121-701936,WITHDRAWN,2/5/2015,0,334510,334510,Electromedical and Electrotherapeutic Apparatu...
1,I-200-12076-544466,CERTIFIED-WITHDRAWN,5/18/2015,0,334510,334510,Electromedical and Electrotherapeutic Apparatu...
2,I-200-12193-010328,CERTIFIED-WITHDRAWN,4/29/2015,0,334510,334510,Electromedical and Electrotherapeutic Apparatu...
3,I-200-12208-410867,CERTIFIED-WITHDRAWN,4/9/2015,0,334510,334510,Electromedical and Electrotherapeutic Apparatu...
4,I-200-12306-427411,CERTIFIED-WITHDRAWN,6/8/2015,0,334510,334510,Electromedical and Electrotherapeutic Apparatu...

In [17]:
update_employee=nac_employee_merge[["CASE_NUMBER","CASE_STATUS", "DECISION_DATE", "EMP_ID","NAIC_CODE"]]
update_employee.to_csv('../H1B_Data/employee.csv',index=False)